<ion-header>
  <ion-navbar>
    <ion-title>
      Your Photots
    </ion-title>
    <ion-buttons end>
      <button (click)="takePhoto()" class="camera-button">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Hello World, Android</h1>
  <div *ngIf="images.length == 0">
    <br />
    Click on the camera icon to take photos
  </div>

  <ion-slides *ngIf="images.length > 0">
    <ion-slide *ngFor="let image of images">
      <img [src]="image" />
    </ion-slide>
  </ion-slides>
</ion-content>
